.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Major Mono Display', monospace;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Major Mono Display', monospace;
  font-size: 1rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff8fa3 !important;
}
.bg-success {
  background-color: #d70081 !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff8fa3 !important;
  border-color: #ff8fa3 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffc2cd !important;
  border-color: #ffc2cd !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffc2cd !important;
  border-color: #ffc2cd !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #d70081 !important;
  border-color: #d70081 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #ff0b9d !important;
  border-color: #ff0b9d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ff0b9d !important;
  border-color: #ff0b9d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ff8fa3;
  color: #ff8fa3;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ff385c !important;
  background-color: transparent !important;
  border-color: #ff385c !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8fa3 !important;
  border-color: #ff8fa3 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #d70081;
  color: #d70081;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #80004d !important;
  background-color: transparent !important;
  border-color: #80004d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #d70081 !important;
  border-color: #d70081 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff8fa3 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #d70081 !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ff294f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #710044 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff8fa3;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff8fa3;
  border-color: #ff8fa3;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff8fa3;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffa4db;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Major Mono Display', monospace;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff8fa3 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Major Mono Display', monospace;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ff8fa3;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff8fa3;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff8fa3;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff8fa3;
  border-bottom-color: #ff8fa3;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff8fa3 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff8fa3' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uonONLE6xd {
  z-index: 1000;
  width: 100%;
}
.cid-uonONLE6xd nav.navbar {
  position: fixed;
}
.cid-uonONLE6xd .navbar-nav {
  margin: auto;
}
.cid-uonONLE6xd .dropdown-item {
  color: #000000 !important;
  border-bottom: 1px solid #e6e6e6;
}
.cid-uonONLE6xd .dropdown-item:hover,
.cid-uonONLE6xd .dropdown-item:focus {
  background: #ff8fa3 !important;
  color: white !important;
}
.cid-uonONLE6xd .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uonONLE6xd .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uonONLE6xd .navbar-short,
.cid-uonONLE6xd .opened {
  background: #ffffff !important;
  opacity: 0.8;
  transition: all 0.3s;
}
.cid-uonONLE6xd .navbar-short .nav-link,
.cid-uonONLE6xd .opened .nav-link,
.cid-uonONLE6xd .navbar-short .navbar-caption,
.cid-uonONLE6xd .opened .navbar-caption,
.cid-uonONLE6xd .navbar-short .mbr-iconfont,
.cid-uonONLE6xd .opened .mbr-iconfont {
  color: #000000 !important;
}
.cid-uonONLE6xd .navbar-short .hamburger span,
.cid-uonONLE6xd .opened .hamburger span {
  background-color: #000000 !important;
}
.cid-uonONLE6xd .nav-link {
  transition: all 0.3s;
  position: relative;
}
.cid-uonONLE6xd .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uonONLE6xd .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uonONLE6xd .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uonONLE6xd .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uonONLE6xd .container {
  display: flex;
  margin: auto;
}
.cid-uonONLE6xd .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uonONLE6xd .dropdown-menu,
.cid-uonONLE6xd .navbar.opened {
  background: #ffffff !important;
}
.cid-uonONLE6xd .nav-item:focus,
.cid-uonONLE6xd .nav-link:focus {
  outline: none;
}
.cid-uonONLE6xd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uonONLE6xd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uonONLE6xd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uonONLE6xd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uonONLE6xd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uonONLE6xd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uonONLE6xd .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 255, 255, 0);
}
.cid-uonONLE6xd .navbar.opened {
  transition: all 0.3s;
}
.cid-uonONLE6xd .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uonONLE6xd .navbar .navbar-logo img {
  width: auto;
}
.cid-uonONLE6xd .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uonONLE6xd .navbar.collapsed {
  justify-content: center;
}
.cid-uonONLE6xd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uonONLE6xd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uonONLE6xd .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uonONLE6xd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uonONLE6xd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uonONLE6xd .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uonONLE6xd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uonONLE6xd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uonONLE6xd .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uonONLE6xd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uonONLE6xd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uonONLE6xd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uonONLE6xd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uonONLE6xd .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uonONLE6xd .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uonONLE6xd .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uonONLE6xd .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uonONLE6xd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uonONLE6xd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uonONLE6xd .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uonONLE6xd .navbar.navbar-short {
  min-height: 60px;
}
.cid-uonONLE6xd .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uonONLE6xd .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uonONLE6xd .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uonONLE6xd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uonONLE6xd .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uonONLE6xd .dropdown-item.active,
.cid-uonONLE6xd .dropdown-item:active {
  background-color: transparent;
}
.cid-uonONLE6xd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uonONLE6xd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uonONLE6xd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uonONLE6xd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uonONLE6xd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uonONLE6xd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uonONLE6xd ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uonONLE6xd .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uonONLE6xd button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uonONLE6xd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uonONLE6xd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uonONLE6xd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uonONLE6xd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uonONLE6xd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uonONLE6xd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uonONLE6xd nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uonONLE6xd nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uonONLE6xd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uonONLE6xd .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uonONLE6xd a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uonONLE6xd .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uonONLE6xd .navbar {
    height: 70px;
  }
  .cid-uonONLE6xd .navbar.opened {
    height: auto;
  }
  .cid-uonONLE6xd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uonPpzDom7 {
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-uonPpzDom7 .mbr-overlay {
  backdrop-filter: blur(3.5px);
}
.cid-uonPpzDom7 img {
  width: 100%;
  transform: scale(2) translateX(-2rem);
  z-index: 0;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-uonPpzDom7 img {
    transform: scale(1) translateX(0);
  }
}
.cid-uonPpzDom7 .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 6rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-uonPpzDom7 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-uonPpzDom7 .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-uonPpzDom7 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uonPpzDom7 .col-12 {
  position: relative;
}
.cid-uonPpzDom7 .round {
  position: absolute;
  top: -60px;
  right: -150px;
  width: 280px;
  height: 280px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 767px) {
  .cid-uonPpzDom7 .round {
    top: -30px;
    right: -110px;
    width: 180px;
    height: 180px;
  }
}
.cid-uonPpzDom7 .round:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
}
.cid-uonPpzDom7 .round2 {
  top: auto;
  right: auto;
  bottom: -30px;
  left: -30px;
  width: 120px;
  height: 120px;
  z-index: 0;
}
.cid-uonPpzDom7 .mbr-section-title {
  color: #263d5a;
}
.cid-uonPpzDom7 .mbr-text,
.cid-uonPpzDom7 .mbr-section-btn {
  color: #263d5a;
}
.cid-uonPpzDom7 .mbr-section-subtitle {
  color: #263d5a;
}
.cid-uonYoR2vHy {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uonYoR2vHy .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uonYoR2vHy .image-wrapper {
    display: none;
  }
}
.cid-uonYoR2vHy .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-uonYoR2vHy .label-text {
  width: 100%;
  padding: 9px 0;
  margin-bottom: 12px;
  color: #ffffff;
}
.cid-uonYoR2vHy .label {
  padding: 9px 18px;
  background: #c9184a;
  border-radius: 20px;
}
.cid-uonYoR2vHy .mbr-section-title {
  margin-bottom: 12px;
}
.cid-uonYoR2vHy .mbr-text {
  color: #555555;
  width: 100%;
  margin-bottom: 22px;
}
.cid-uonYoR2vHy .link-wrap {
  margin-top: 18px;
  width: 100%;
}
@media (max-width: 575px) {
  .cid-uonYoR2vHy .link-wrap {
    display: flex;
    justify-content: center;
  }
}
.cid-uonYoR2vHy .link-wrap a {
  position: relative;
  padding: 0 !important;
}
.cid-uonYoR2vHy .link-wrap a:hover:before {
  transform: scaleX(1);
  transform-origin: left center;
}
.cid-uonYoR2vHy .link-wrap a:before {
  content: '';
  position: absolute;
  color: currentColor;
  left: 0;
  top: 100%;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cid-uonYoR2vHy .btn-container {
  width: 100%;
}
@media (max-width: 575px) {
  .cid-uonYoR2vHy .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-uonYoR2vHy .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uonYoR2vHy .mbr-fallback-image.disabled {
  display: none;
}
.cid-uonYoR2vHy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uonYoR2vHy .mbr-text,
.cid-uonYoR2vHy .mbr-section-btn {
  text-align: left;
  color: #ff8fa3;
}
.cid-uonZd9BZtB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uonZd9BZtB .row {
  flex-direction: row-reverse;
}
.cid-uonZd9BZtB .row {
  align-items: center;
}
.cid-uonZd9BZtB .img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url("../../../assets/images/3-940x788.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .cid-uonZd9BZtB .img-item {
    padding: 0;
  }
}
.cid-uonZd9BZtB .img-item img {
  height: auto;
  width: 250px;
}
@media (max-width: 767px) {
  .cid-uonZd9BZtB .text-col {
    margin-top: 45px;
    order: 5;
  }
}
@media (min-width: 992px) {
  .cid-uonZd9BZtB .text-col {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-uonZd9BZtB .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .cid-uonZd9BZtB .text-wrapper {
    padding: 0 100px 0 75px;
    padding: 0 75px 0 100px;
  }
}
.cid-uonZd9BZtB .icon-wrap {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .cid-uonZd9BZtB .icon-wrap {
    justify-content: center;
  }
}
.cid-uonZd9BZtB .icon-box {
  background: #ff8fa3;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 17px;
  border-radius: 50%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uonZd9BZtB .icon-box .mbr-iconfont {
  font-size: 16px;
  color: #ffffff;
}
.cid-uonZd9BZtB .mbr-section-title {
  margin-bottom: 36px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-uonZd9BZtB .mbr-section-title {
    text-align: center !important;
  }
}
.cid-uonZd9BZtB .mbr-text {
  color: #555555;
  letter-spacing: inherit;
  width: 100%;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .cid-uonZd9BZtB .mbr-text {
    text-align: center !important;
  }
}
.cid-uonZd9BZtB .btn-container {
  width: 100%;
}
.cid-uonZd9BZtB .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-uonZd9BZtB .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-uonZd9BZtB .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uonZd9BZtB .mbr-fallback-image.disabled {
  display: none;
}
.cid-uonZd9BZtB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uonZd9BZtB .name-text {
  text-align: left;
}
.cid-uoo2ihoyzF {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uoo2ihoyzF .row {
  align-items: center;
}
.cid-uoo2ihoyzF .img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url("../../../assets/images/1-940x788.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .cid-uoo2ihoyzF .img-item {
    padding: 0;
  }
}
.cid-uoo2ihoyzF .img-item img {
  height: auto;
  width: 250px;
}
@media (max-width: 767px) {
  .cid-uoo2ihoyzF .text-col {
    margin-top: 45px;
    order: 5;
  }
}
@media (min-width: 992px) {
  .cid-uoo2ihoyzF .text-col {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-uoo2ihoyzF .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .cid-uoo2ihoyzF .text-wrapper {
    padding: 0 100px 0 75px;
  }
}
.cid-uoo2ihoyzF .icon-wrap {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .cid-uoo2ihoyzF .icon-wrap {
    justify-content: center;
  }
}
.cid-uoo2ihoyzF .icon-box {
  background: #ff8fa3;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 17px;
  border-radius: 50%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uoo2ihoyzF .icon-box .mbr-iconfont {
  font-size: 16px;
  color: #ffffff;
}
.cid-uoo2ihoyzF .mbr-section-title {
  margin-bottom: 36px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-uoo2ihoyzF .mbr-section-title {
    text-align: center !important;
  }
}
.cid-uoo2ihoyzF .mbr-text {
  color: #555555;
  letter-spacing: inherit;
  width: 100%;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .cid-uoo2ihoyzF .mbr-text {
    text-align: center !important;
  }
}
.cid-uoo2ihoyzF .btn-container {
  width: 100%;
}
.cid-uoo2ihoyzF .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-uoo2ihoyzF .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-uoo2ihoyzF .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uoo2ihoyzF .mbr-fallback-image.disabled {
  display: none;
}
.cid-uoo2ihoyzF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uoo2hOJmlh {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uoo2hOJmlh .row {
  flex-direction: row-reverse;
}
.cid-uoo2hOJmlh .row {
  align-items: center;
}
.cid-uoo2hOJmlh .img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url("../../../assets/images/2-940x788.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .cid-uoo2hOJmlh .img-item {
    padding: 0;
  }
}
.cid-uoo2hOJmlh .img-item img {
  height: auto;
  width: 250px;
}
@media (max-width: 767px) {
  .cid-uoo2hOJmlh .text-col {
    margin-top: 45px;
    order: 5;
  }
}
@media (min-width: 992px) {
  .cid-uoo2hOJmlh .text-col {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-uoo2hOJmlh .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .cid-uoo2hOJmlh .text-wrapper {
    padding: 0 100px 0 75px;
    padding: 0 75px 0 100px;
  }
}
.cid-uoo2hOJmlh .icon-wrap {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .cid-uoo2hOJmlh .icon-wrap {
    justify-content: center;
  }
}
.cid-uoo2hOJmlh .icon-box {
  background: #ff8fa3;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 17px;
  border-radius: 50%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uoo2hOJmlh .icon-box .mbr-iconfont {
  font-size: 16px;
  color: #ffffff;
}
.cid-uoo2hOJmlh .mbr-section-title {
  margin-bottom: 36px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-uoo2hOJmlh .mbr-section-title {
    text-align: center !important;
  }
}
.cid-uoo2hOJmlh .mbr-text {
  color: #555555;
  letter-spacing: inherit;
  width: 100%;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .cid-uoo2hOJmlh .mbr-text {
    text-align: center !important;
  }
}
.cid-uoo2hOJmlh .btn-container {
  width: 100%;
}
.cid-uoo2hOJmlh .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-uoo2hOJmlh .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-uoo2hOJmlh .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uoo2hOJmlh .mbr-fallback-image.disabled {
  display: none;
}
.cid-uoo2hOJmlh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uoqzXMyVm5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ff8fa3;
}
.cid-uoqzXMyVm5 .item:focus,
.cid-uoqzXMyVm5 span:focus {
  outline: none;
}
.cid-uoqzXMyVm5 .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uoqzXMyVm5 .content-head {
  max-width: 800px;
}
.cid-uoqzXMyVm5 .item {
  color: #ffffff;
  min-height: 90px;
}
@media (max-width: 768px) {
  .cid-uoqzXMyVm5 .item {
    min-height: 45px;
  }
}
.cid-uonZmNpS56 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-uonZmNpS56 .mbr-text {
  color: #111111;
}
.cid-uonZmNpS56 .media-container-row .mbr-text {
  color: #ff8fa3;
}
